<div class="container height-80vh" id="experience">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h2 class="separator-right fg-blue-200 font-raleway-400" data-aos="fade-up" data-aos-duration="1000"
                data-aos-once="false" data-aos-easing="ease-in-out">Experience
            </h2>
        </div>
    </div>




    <div class="fg-grey-400 font-raleway-500 mt-5">
        <div class="font-raleway-500">
            <div id="accordion" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false"
                data-aos-easing="ease-in-out">
                <div class="card bg-transparent">
                    <div class="accordion-header" id="heading5">
                        <h5>
                            <button class="btn nav-link exp w-100 bg-accordion-button" data-toggle="collapse"
                                data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                <p class="h5">Associate Consultant (Azure Practice) - Dynamic Elements</p>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse5" class="collapse show" aria-labelledby="heading5">
                        <div class="card-body">
                            <h5 class="fg-white">Associate Consultant (Azure Practice)
                                <a class="custom-link underline" target="_blank" href="https://www.dynamicelements.no/">
                                    <span>@ Dynamic Elements</span>
                                    <svg viewBox="0 0 13 20">
                                        <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" />
                                    </svg>
                                </a>
                            </h5>
                            <ul class="mt-4" style="padding: 1rem">
                                <li>Working on .NET Core and Azure technologies for Norwegian Sports Federation</li>
                                <li>Regular hands-on with .NET Core 3.0, ServiceFabric services, Azure Functions, ESB,
                                    CosmosDB, Storage Accounts, App Service Plans, SQL and more</li>
                                <li>Worked directly with clients and with various teams on multiple projects.</li>
                                <li>Worked on setting up new projects with build and release pipelines.</li>
                                <li>Attended Project Kickoffs and Business Requirement meetings.</li>
                                <li>Worked on various Technical Design Documentations and Functional Requirement
                                    Specifications including Lucid Chart Diagrams for new requirements</li>
                                <li>Experience working with various design patterns like Repository, CQRS, Chain of
                                    Responsibility, Mediator patterns and more.</li>
                                <li>Developed and maintained various projects based on .NET Core 2.1/3.1 and libraries
                                    based on .NET Standard 2.0</li>
                                <li>Developed and Maintained RESTful APIs in C# for consumption by front-end
                                    applications.</li>
                                <li>Worked on libraries that implemented CRUD operations with filters for ElasticIndices
                                    read databases. </li>
                                <li>Integrated above mentioned ElasticIndex libraries in various projects to maintain
                                    separate read databases.</li>
                                <li>Worked on Event Firing and Handling mechanisms to handle changes to the database and
                                    copy said changes over the ElasticIndex</li>
                                <li>Worked on time scheduled services that used Quartz as a scheduler.</li>
                                <li>Worked on client for Azure B2C Authentication. Used Angular 12 and Bootstrap 4 for
                                    UI and .NET Core for processing.</li>
                                <li>Experienced working with ServiceFabric services and Azure Function Apps.</li>
                                <li>Worked on transforming the company’s entire cloud architecture from a manual process
                                    to an automated process using Terraform.</li>
                                <li>Presented Demo and did knowledge transfer for Terraform for the clients and
                                    colleagues. </li>
                                <li>Developed Powershell scripts for fetching details of existing Azure architecture
                                    using AZ CLI.</li>
                                <li>Worked on multiple POCs including a Notifications POC for WebApps and Azure B2C
                                    Authentication POC. Implemented Azure B2C service, Firebase Messaging, Angular 12,
                                    Bootstrap 4, .NET Core for RESTful APIs and EFCore with SQL Server.</li>
                                <li>Presented Demos for various POC to clients and colleagues.</li>
                            </ul>
                            <strong>Awards & Recognition</strong>
                            <ul class="navbar-nav ml-auto" type="1">
                                <li class="nav-item">
                                    <a class="nav-link underline font-raleway-500"
                                        href="../assets/files/awards/DET_Award_1.pdf" target="_blank">
                                        <span>Going Above and Beyond (Dynamic Elements) - Q3 2021</span>
                                        <svg viewBox="0 0 13 20">
                                            <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link underline font-raleway-500"
                                        href="../assets/files/awards/DET_Award_2.pdf" target="_blank">
                                        <span>Diamond League Best Performer (Dynamic Elements) - Q2 2022</span>
                                        <svg viewBox="0 0 13 20">
                                            <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card exp bg-transparent">
                    <div class="accordion-header" id="heading4">
                        <h5>
                            <button class="btn btn-link nav-link exp w-100 bg-accordion-button" data-toggle="collapse"
                                data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                <p class="h5">Associate Consultant - Capgemini</p>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse4" class="collapse" aria-labelledby="heading4">
                        <div class="card-body">
                            <h5 class="fg-white">Associate Consultant
                                <a class="custom-link underline" target="_blank"
                                    href="https://www.capgemini.com/in-en/">
                                    <span>@ Capgemini</span>
                                    <svg viewBox="0 0 13 20">
                                        <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" />
                                    </svg>
                                </a>
                            </h5>
                            <ul class="mt-4" style="padding: 1rem">
                                <strong>European Automotive Client</strong>
                                <li>Worked on micro-services in .NET Core hosted on ServiceFabricCluster on Azure for an
                                    Automotive client.</li>
                                <li>Handled DevOps tasks including Azure Boards management, Pipeline creation and
                                    Deployments.</li>
                                <li>Helped onboard new developers on the project for the Automotive client with a
                                    walkthrough of the existing micro-services and CI/CD process.</li>
                                <li>Involved in requirement gathering meetings and technical discussions.</li>

                                <br />
                                <strong>American Insurance Client</strong>
                                <li>Worked on transitioning a multi-application stack from traditional on-site servers
                                    to serverless on Azure for American Insurance Client. </li>
                                <li>Integrating services among Azure Functions, ESB, Table & Blob Storage, SQL Server,
                                    EFCore, EntityFramework, Linq, and more for the Insurance Client. </li>
                                <li>Involved in working directly with the client side team and also providing valuable
                                    inputs and suggestions, often times improving some functionalities. </li>
                                <li>Experienced with .NET Core API development with multi-tier architecture & design
                                    patterns. </li>
                                <li>Experienced in complete Project Lifecycle from Design to Implementation to
                                    Integration.</li>
                                <li>Involved in Database design, Views and Stored Procedures in SQL Server.</li>

                                <br />
                                <strong>American Finance Client</strong>
                                <li>Worked on migrating a major application from SQL Server 2008 and IIS 6 to SQL Server
                                    2016 and IIS 10 for another American Finance Client. </li>
                                <li>Co-ordinated with a team for creation of an in-house code coverage tool using Java,
                                    SpringBoot, MySQL and Angular. </li>
                                <li>Familiarity with Agile for fast-paced development process. </li>
                                <li>Built a Find and Reserve Utility for internal teams working on Data using SQL Server
                                    & Angular.</li>
                                <li>Built all the layers of Find and Reserve Utility. User AngularJS for UI and C#.NET,
                                    ADO.NET, REST API and SQL Server.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card exp bg-transparent">
                    <div class="accordion-header" id="heading3">
                        <h5>
                            <button class="btn btn-link nav-link exp w-100 bg-accordion-button" data-toggle="collapse"
                                data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                <p class="h5">Android Development</p>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse3" class="collapse" aria-labelledby="heading3">
                        <div class="card-body">
                            <h5 class="fg-white">Freelance Android Developer</h5>
                            <ul class="mt-4" style="padding: 1rem">
                                <li>Involved in full lifecycle of the projects including design, development and
                                    deployment to build intuitive, robust and pixel-perfect applications while also
                                    working on back-end systems.</li>
                                <li>Worked with various architecture components like Jetpack/AndroidX, ViewModel &
                                    LiveData, Services, BroadcastListeners, SQLite Databases and more.</li>
                                <li>Worked on various tools for responsive functionalities like Google Cloud
                                    Messaging, Firebase Auth, Realtime Database, Analytics & Ads, Picasso,
                                    ButterKnife, Graphs and more.</li>
                                <li>Experienced with AWS for hosting backend systems as well as databases on S3,
                                    Beanstalk and RDS.</li>
                                <li>All the projects use Git for version control and collaboration with other
                                    developers.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card exp bg-transparent">
                    <div class="accordion-header" id="heading2">
                        <h5>
                            <button class="btn btn-link nav-link exp w-100 bg-accordion-button" data-toggle="collapse"
                                data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                <p class="h5">Web Development</p>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse2" class="collapse" aria-labelledby="heading2">
                        <div class="card-body">
                            <ul class="mt-4" style="padding: 1rem">
                                <li>Developed and maintained websites at various levels. From just front-end to
                                    full-stack.</li>
                                <li>Worked with a number of domain providers and hosting services for maintaining
                                    websites.</li>
                                <li>Technologies used for web development include Java SpringBoot or JAX-RS (Jersey)
                                    for back-end and Angular for website.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card exp bg-transparent">
                    <div class="accordion-header" id="heading1">
                        <h5>
                            <button class="btn btn-link nav-link exp w-100 bg-accordion-button" data-toggle="collapse"
                                data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                <p class="h5">Other Skills</p>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse1" class="collapse" aria-labelledby="heading1">
                        <div class="card-body">
                            <ul class="mt-4" style="padding: 1rem">
                                <li>Work with a variety of different languages, platforms, frameworks, and content
                                    management systems such as Java, SpringBoot, JAX-RS (Jersey), XLM, JSON, Maven,
                                    Gradle and Apache Tomcat Server.</li>
                                <li>Write modern, performant, maintainable code for a diverse array of projects.
                                </li>
                                <li>Communicate with multi-disciplinary teams of engineers & clients.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>